<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">
    <!--扫描业务层实现-->
    <context:component-scan base-package="com.jf.myDemo.service,com.jf.myDemo.websocket"/>
    <!--反向实现查找Bean-->
    <bean class="com.jf.myDemo.common.utilities.spring.SpringContextUtil" lazy-init="false"/>

    <!--引入websocket的配置-->
    <bean id="websocket" class="com.jf.myDemo.websocket.WebsocketHandler"/>
    <websocket:handlers>
        <websocket:mapping path="/ws" handler="websocket"/>
        <websocket:handshake-interceptors>
            <bean class="org.springframework.web.socket.server.support.HttpSessionHandshakeInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <!-- 需要扫描的包-->
    <!--<context:component-scan base-package="com.jf.myDemo.websocket" />-->

    <!-- <task:scheduled-tasks scheduler="taskScheduler">
         <task:scheduled ref="resourceCurTaskService" method="modifyResCurOfTypeTask" cron="0 */5 * * * ?"/>
     </task:scheduled-tasks>
     <task:scheduler id="taskScheduler" pool-size="100"/>-->
</beans>