<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致-->
<mapper namespace="com.jf.myDemo.mapper.IFileInfoMapper">

    <!--查询资源数据集合-->
    <insert id="insertFileInfo" parameterType="com.jf.myDemo.entities.FileInfoBean">
        INSERT INTO fileinfo
        (id,
       file_name,
        status,
        `date`)
        values
        (#{id},#{fileName}, #{status},
        #{date})
    </insert>

    <!--添加资源数据-->
    <insert id="batchInsertFileInfo" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO fileinfo
        (id,
        file_name,
        status,
        `date`)
        VALUES
        <foreach collection="list" item="resource" index="index" separator=",">
            (#{id},#{fileName}, #{status},
            #{date})
        </foreach>
    </insert>


</mapper>