<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致-->
<mapper namespace="com.jf.myDemo.mapper.IUserMapper">

        <parameterMap type="java.util.Map" id="getUserCountMap">
            <parameter property="sexid" mode="IN" jdbcType="INTEGER"/>
            <parameter property="usercount" mode="OUT" jdbcType="INTEGER"/>
        </parameterMap>
        <!--
                查询得到男性或女性的数量, 如果传入的是0就女性否则是男性
             -->
        <select id="getUserCount" parameterMap="getUserCountMap" statementType="CALLABLE">
            CALL uploadfile.ges_user_count(?,?)
        </select>
</mapper>